/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}


header{
    position: fixed;
    width: 100%;
    padding: 13px 20px;
    box-sizing: border-box;
    z-index: 30;
    /* background: aqua; */
}

.header-flex{
    display: flex;
    height: auto;
}

.header-logo{
    margin-right: 120px;
    align-self: center;
}
.header-logo.sub{
    display: none;
}

.sub-header-logo{
    margin-right: 120px;
    align-self: center;
    display: none;
}

.sub-header-logo.sub{
    display: block;
}



.pc-navi{
    align-self: center;
}


.pc-navi ul li{
    display: inline-block;
    margin-right: 30px;
}

.navi-list{
    text-decoration: none;
    font: normal normal 800 16px/42px "YuMincho";
    color: #FFFFFF;
}

.reserve{
    vertical-align: middle;
    align-self: center;
    background: #978F10 0% 0% no-repeat padding-box;
    padding: 6px 37px;
    margin-left: auto;
    overflow: auto;
    font: normal normal 800 16px/16px "YuMincho";
    letter-spacing: 0px;
    color: #FFFFFF;
}


.reserve img{
    width: 22px;
    vertical-align: middle;
    margin-right: 10px;
}


#open {

cursor: pointer;
width: 170px;
border-radius: 4px;
text-align: center;
padding: 16px 0;

}

#mask {
background: rgba(0, 0, 0, 0.4);
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: 1;
}

#modal {
background: #fff;
width: 550px;
padding: 20px;
border-radius: 4px;
position: fixed;
top: 100px;
left: 0;
right: 0;
margin: 0 auto;
transition: transform 1.5s;
z-index: 2;
}

#modal > p {
margin: 0 0 20px;
}

#mask.hidden {
display: none;
}

#modal.hidden {
transform: translate(0, -1500px);
display: none;
}

.modal-container{
    width: calc(100% - 120px); 
    margin: 0 auto;
}



.modal-ttl{
    font: normal normal medium 20px/34px "YuMincho";
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
    padding: 29px 0;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 35px;
    font-family: "YuMincho";
}

label{
    display: block;
    font-family: "YuMincho";    
}

input{
    display: block;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E7E7E7;
    margin: 14px 0;
    box-sizing: border-box;
    padding: 9px 10px;
}



select{
    display: block;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E7E7E7;
    margin: 14px 0;
    font: normal normal medium 14px/24px "YuMincho";
    color: #797878;
    font-size: 14px;
    line-height: 24px;
    padding: 9px 10px;
}



button{
    display: block;
    width: 200px;
    margin: 0 auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    font: normal normal medium 16px/27px "YuMincho";
    letter-spacing: 0px;
    color: #000000;
    padding: 13px 67px;
    margin-top: 50px;
}

.close{
    cursor: pointer;
}

.close img{
    width: 18px;
    position: absolute;
    top:20px;
    right: 22px;
}

.NavMenu{
    display: none;
}

body.fixed {
	width: 100%;
	height: 100%;
    left: 0;
    overflow-y: hidden;
}


.reserve.open{
    margin-right: 17px;
}

header.scroll-nav{
    background: #fff;
    transition: 0.5s;
}


header.scroll-nav .pc-navi ul li a{
    color: #666666;
}





@media (max-width: 1020px) and (min-width: 768px) {
    .header-logo{
        margin-right: 70px;
    }

    #modal {
        top: 50px;
        width: 400px;
        padding: 0;
    }

    .modal-container{
        width: calc(100% - 120px); 
        margin: 0 auto;
    }

    .modal-ttl{
        padding: 10px;
        margin-bottom: 15px;
    }

    label{
        font-size: 14px;
    }

    input{
        font-size: 12px;
    }

    select{
        font-size: 12px;
    }
    
}

@media (max-width: 767px){

    .header-logo{
        margin-right: 0px;
    }

    .header-logo img{
        width: 100px;
    }

    
    ul li a{
    text-decoration: none;
    color: #333333;
    }

    .sub-header-logo{
        margin-right: 0px;        
    }

    .sub-header-logo img{
        width: 100px;
    }

    .pc-navi{
        display: none;
    }

    #open {
        cursor: pointer;
        width: 100px;
        border-radius: 4px;
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
        }

    .reserve{
        display: inline-block;
        align-self: center;
        text-decoration: none;
        margin-left: 0px;
        background: #978F10 0% 0% no-repeat padding-box;
        margin-left: 0;
        margin: 0 auto;
    }    
   
    .reserve.open{
        margin-right: 55px;
    }

    .reserve a{
        font: normal normal 800 13px/30px "YuMincho";
        padding: 6px 20px;
    }

    
    #modal {
        top: 50px;
        width: 300px;
        padding: 0;
    }

    .modal-container{
        width: calc(100% - 60px); 
        margin: 0 auto;
    }

    .modal-ttl{
        padding: 10px;
        margin-bottom: 15px;
    }

    label{
        font-size: 10px;
    }

    input{
        font-size: 12px;
    }

    select{
        font-size: 12px;
    }
    
    button{
        display: block;
        width: 120px;
        margin: 0 auto;
        font: normal normal medium 16px/27px "YuMincho";
        letter-spacing: 0px;
        color: #000000;
        padding: 13px 10px;
        margin-top: 10px;
    }

    
    /*ナビのスタイル*/
    nav.NavMenu{
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    background: #399DE6;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
    }
    
    nav.NavMenu ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    }
    
    nav.NavMenu ul li{
    font-size: 24px;
    list-style-type: none;
    width: 100%;
    padding-bottom: 0px;
    }
    
    nav.NavMenu ul li:last-child{
    padding-bottom: 0;
    }
    
    nav.NavMenu ul li a{
    display: block;
    color: #fff;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    }
    
    /*ボタンのスタイル*/
    .Toggle {
    position: fixed;
    right:20px;
    top: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 50;
    display: block;
    }
    
    .Toggle span {
    display: block;
    position: absolute;
    width: 35px;
    border-bottom: solid 4px #C1C1C1;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
    }
    
    .Toggle span:nth-child(1) {
    top: 9px;
    }
    
    .Toggle span:nth-child(2) {
    top: 20px;
    }
    
    .Toggle span:nth-child(3) {
    top: 31px;
    }
    
    .Toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: solid 3px #C1C1C1;
    }
    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 3px #C1C1C1;
    }

}

.top-wrapper{
    height: 3000px;
}

.line1{
    font: normal normal 800 34px/42px "YuMincho";
    font-weight: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    margin-left: 50px;
    position: absolute;
    right:26%;
    top:362px;
    line-height: 90px;
    z-index: 1;
}

.line1.ope{
    right: calc( 26% + 13px);
}

/* --- 全体のBOX定義 ---------------------------------------- */
.top-wrapper {
    position   : relative;
    width: 100%;
    height     : 900px;
    margin     : auto;
    overflow   : hidden;
  }
  
  /* --- 背景の指定 ------------------------------------------- */
  .top-wrapper .first-view {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 18s infinite;
  }

  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
  .top-wrapper .src1 {
    background-image : url(Ex-sozai/mainbg01.jpg) ;   /* 背景の画像を指定 */
    animation-delay  : 0s;
    background-size: cover;
    background-position: center;

  }
  .top-wrapper .src2 {
    background-image : url(Ex-sozai/mainbg02.jpg);   /* 背景の画像を指定 */
    animation-delay  : 6s;
    background-size: cover;
    background-position: center;

  }
  .top-wrapper .src3 {
    background-image : url(Ex-sozai/mainbg03.jpg);   /* 背景の画像を指定 */
    animation-delay  : 12s;
    background-size: cover;
    background-position: center;
  }

  @keyframes bgAnime {
    0% { opacity: 0; }
    16% { opacity: 1; }
    34% { opacity: 1; }
    50% {opacity: 0;
        transform: scale(1.1);
        z-index: 1;}
    100% {opacity: 0;}
    }

.intro-wrapper{
    background: url(Ex-sozai/bg.jpg);
    box-sizing: border-box;
}

.intro-inner{
    width: 1180px;
    margin: 0 auto;
    writing-mode: vertical-rl;
    padding: 150px 0 135px 0;
}

.intro_ttl{
    font: normal normal medium 28px/42px "YuMincho";
    letter-spacing: 0px;
    color: #000000;
    font-size: 28px;
    line-height: 55px;
    text-indent: -85px;
    margin-right: 100px;
    margin-left: 88px;
}

.intro-inner p{
    font: normal normal medium 16px/22px "YuMincho";
    letter-spacing: 0px;
    color: #000000;
    line-height: 42px;
    margin-left: 98px;
}

.number{
    text-orientation: upright;
}

.sign{
    text-indent: 270px;
}

@media (max-width: 1020px) and (min-width: 768px) {
    .intro-inner{
        width: 700px;
        margin: 0 auto;
        padding: 120px 0 100px 0;
    }

    .intro_ttl{
        margin-right: 0;
        margin-left: 30px;
    }
    
    .intro-inner p{
        margin-left: 30px;
    }
    
    
}

@media (max-width: 767px){
    .intro-inner{
        width: 100%;
        margin: 0 auto;
        padding: 100px 0 80px 0;
    }

    .intro_ttl{
        margin-right: 5px;
        margin-left: 24px;
        font-size: 16px;
        line-height: 24px;
        text-indent: -45px;
    }
    
    .intro-inner p{
        margin-left: 15px;
        font-size: 12px;
        line-height: 24px;
    }   
}

.about-wrapper{
    padding: 100px 0 80px;
}

.about-flex{
    display: flex;
    margin-bottom: 120px;
}

.about-flex-reverse{
    display: flex;
    margin-bottom: 120px;
    flex-direction: row-reverse;
}



.flex_img{
    width: 54.5%;
}

.flex_img img{
    width: 100%;
    height: 545px;
}

.flex_txt{
    padding: 30px;
    margin-left: 100px;
}

.flex_txt h2{
    font-size: 36px;
    line-height: 62px;
    margin-bottom: 75px;
}

.flex_txt p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 75px;
}

.flex_txt-reverse{
    padding: 30px;
    margin-right: 100px;
}

.flex_txt-reverse h2{
    font-size: 36px;
    line-height: 62px;
    margin-bottom: 75px;
}

.flex_txt-reverse p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 75px;
}

.link a{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    text-decoration: none;
    font: normal normal medium 16px/32px "YuMincho";
    letter-spacing: 0px;
    color: #000000;
    padding: 20px 44px;
}

@media (max-width: 1020px) and (min-width: 768px) {
    .about-wrapper{
        padding: 0 0 50px 0;
    }
    
    .about-flex{
        display: block;
        margin-bottom: 50px;
    }
    
    .flex_img{
        width: 100%;
    }
    
    .flex_img img{
        width: 100%;
        height: 400px;
    }
    
    .flex_txt{
        width: 70%;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    .flex_txt h2{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    
    .flex_txt p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .about-flex-reverse{
        display: block;
        margin-bottom: 50px;
    }

    .flex_txt-reverse{
        width: 70%;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    .flex_txt-reverse h2{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    
    .flex_txt-reverse p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .link{
        text-align: center;
    }
    
    .link a{
        padding: 10px 24px;

    }   
}

@media (max-width: 767px){
    .about-wrapper{
        padding: 0 0 50px 0;
    }
    
    .about-flex{
        display: block;
        margin-bottom: 50px;
    }
    
    .flex_img{
        width: 100%;
    }
    
    .flex_img img{
        width: 100%;
        height: 400px;
    }
    
    .flex_txt{
        width: 70%;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    .flex_txt h2{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    
    .flex_txt p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .about-flex-reverse{
        display: block;
        margin-bottom: 50px;
    }

    .flex_txt-reverse{
        width: 70%;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    .flex_txt-reverse h2{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 30px;
    }
    
    .flex_txt-reverse p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
    }

    .link{
        text-align: center;
    }
    
    .link a{
        padding: 10px 24px;

    }   
}

.pran-wrapper{
    background: transparent url('Ex-sozai/bg02.jpg') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 115px 0;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.pran-logo{
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pran_top{
    text-align: center;
    font-size: 36px;
    font-weight: 32px;
    margin-bottom: 66px;
}

.pran-flex{
    display: flex;
    justify-content: space-between;
}

.recommended{
    width: 331px;
    height: 209px;
    margin-bottom: 32px;
}

.pran_ttl{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 36px;
    max-width: 331px;
}

.pran_txt{
    font-size: 16px;
    line-height: 32px;
    max-width: 331px;
}

@media (max-width: 1020px) and (min-width: 768px) {
    .pran-wrapper{
        background-size: cover;
        padding: 60px 0 60px 0;
    }

    .pran-flex{
        display: block;
    }

    .pran-logo-inner{
        text-align: center;
    }

    .recommended{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 80%;    
        object-fit: cover;
    }

    .recommended img{
        text-align: center;
    }
    
    .pran_ttl{
        font-size: 20px;
        line-height: 32px;
        text-align: left;
        max-width: none;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .pran_txt{
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        max-width: none;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    
}

@media (max-width: 767px){
    .pran-wrapper{
        background-size: cover;
        padding: 60px 0 60px 0;
    }

    .pran_top{
        font-size: 24px;
        font-weight: 32px;
    }

    .pran-flex{
        display: block;
    }

    .pran-logo-inner{
        text-align: center;
    }

    .recommended{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 80%;    
        object-fit: cover;
    }

    .recommended img{
        text-align: center;
    }
    
    .pran_ttl{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        max-width: none;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .pran_txt{
        font-size: 12px;
        line-height: 20px;
        text-align: left;
        max-width: none;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
 
}

.news-wrapper{
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 115px 0;
    height: auto;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.news-logo{
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.news_top{
    text-align: center;
    font-size: 36px;
    font-weight: 32px;
    margin-bottom: 66px;
}


.tab-group{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.tab{
    list-style:none;
    text-align:center;
    cursor:pointer;
    font-size: 16px;
    line-height: 32px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}
.panel-group{
    border-top:none;
}
.panel{
    display:none;
}
.tab.is-active{
    color:#000000;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
}

.news-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-inner{
    display: flex;
    width: 570px;
    height: 130px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 15px 10px;
}

.news-img{
    width: 100px;
    height: 100px;
}

.news-left{
    margin-right: 30px;
}

.news-right{
    width: 100%;

}

.news-date,
.news-txt{
    text-align: left;
}

.news-date{
    margin-bottom: 10px;
}

@media (max-width: 1020px) and (min-width: 768px){
    .news-wrapper{
        padding: 60px 0 60px 0;
    }

    .news-flex{
        display: block;
    }

    .news-inner{
        width: 80%;
        margin: 0 auto 20px;
    }

}

@media (max-width: 767px){
    .news-wrapper{
        padding: 60px 0 60px 0;
    }

    .news_top{
        font-size: 24px;
        font-weight: 32px;
        margin-bottom: 30px;
    }

    .news-flex{
        display: block;
    }

    .news-inner{
        width: 80%;
        margin: 0 auto 20px;
    }

    .news-txt{
        font-size: 12px;
        line-height: 20px;
    }
}

.access-wrapper{
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 115px 0;
    background: url(Ex-sozai/bg.jpg);
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.access-logo{
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.access_top{
    text-align: center;
    font-size: 36px;
    font-weight: 32px;
    margin-bottom: 66px;
}

.access-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.access-img{
    width: 55.5%;
    margin-right: 80px;
}

.access-img img{
    width: 100%;
}

.access-txt1{
    font: normal normal 800 16px/32px "YuMincho";
}

.access-txt2{
    font: normal normal medium 16px/32px "YuMincho";
    margin: 20px 0;
}

.access-map{
    text-align: center;
}

.map{
    width: 792px;
    height: 592px;
}

@media (max-width: 1020px) and (min-width: 768px){
    .access-wrapper{
        padding: 60px 0 60px 0;
    }

    .access-flex{
        display: block;
        text-align: center;
    }

    .access-img{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .map{
        width: 600px;
        height: 400px;
    }

}

@media (max-width: 767px){
    .access-wrapper{
        padding: 60px 0 60px 0;
    }

    .access-flex{
        display: block;
        text-align: center;
    }

    .access-img{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .map{
        width: 300px;
        height: 250px;
    }
}

footer{
    background: url(Ex-sozai/bg3.jpg);
    padding-top: 64px;
}

footer nav{
    display: block;
    writing-mode: vertical-rl;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.footer-list{
    padding: 0 14px;
    box-sizing: border-box;
    font: normal normal medium 18px/32px "YuMincho";
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 13px;
    color: #000000;    
    text-decoration: none;
}

.footer-list a{
    text-decoration: none;    
    color: #000000;    
}

.footer-logo{
    display: block;
    width: 145px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.footer-address{
    text-align: center;
}

.footer-address-txt{
    padding-bottom: 23px;
}

.copyright{
    background: #000000 0% 0% no-repeat padding-box;
    text-align: center;
}

.copyright-txt{
    font: normal normal medium 12px/24px "YuMincho";
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;    
    padding: 23px 0;
}

@media (max-width: 767px){
    footer{
        padding-top: 30px;
    }    

    footer nav{
        margin-bottom: 40px;
    }

    .footer-logo{
        margin-bottom: 40px;
    }

}